.container {
  position: absolute;
  top: 50%;
  left: 50%;

  margin: 0 auto;
  width: 90%;
  max-width: 640px;
  
  transform: translate(-50%, -50%);
}

.container h1,
.container p { margin-bottom: 1.5rem; }
